/*
=================================
Structure
=================================
*/

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
}

.main-area {
    display: grid;
    grid-template-rows: 1fr auto;
}

/*
=================================
Sidebar
=================================
*/

.sidebar {
    background: rgb(26, 25, 25);
}

/* Sidebar Header */

.sidebar-header {
    width: fit-content;
    display: flex;
    align-items: center;
}

.sidebar-header img {
    width: 7.5rem;
    height: auto;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* Button: new conversation */

.new-conversation-button {
    text-align: left;
    font-size: 1rem;
    background: none;
    color: white;
    border-radius: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    flex: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}

.new-conversation-button:hover {
    background-color: rgb(59, 59, 59);
}

/* Button: settings */

.settings-button {
    text-align: left;
    font-size: 1rem;
    background: none;
    color: white;
    border-radius: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    flex: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}

.settings-button:hover {
    background-color: rgb(59, 59, 59);
}

.search-conversations-button, .hide-sidebar-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.search-conversations-button {
    margin-left: 1rem;
}

.hide-sidebar-button {
    margin-right: 1rem;
}

.search-conversations-button:hover, .hide-sidebar-button:hover {
    background-color: rgba(59, 59, 59);;

}


/*
=================================
Conversation Box
=================================
*/

.llm-conversation-box {
    background-color: rgb(32, 32, 32);
    position: relative;
}

/*
=================================
LLM Input Box
=================================
*/

.llm-input-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "input"
        "buttons";

    background-color: rgb(26, 25, 25);
    margin-bottom: 10px;
    position: absolute;
    bottom: 1%;
    width: 45%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}

.llm-input-box > * {
    margin: 10px;
}

/* Buttons */

.buttons {
    display: flex;
    grid-area: buttons;
    justify-content: flex-end;
}

.upload-files,
.enable-internet-searching,
.voice-mode,
.thinking-button {
    background-color: rgb(26, 25, 25);
    border: none;
    color: white;
    cursor: pointer;
    margin: 5px;
    margin-top: 0;
}

/* Text Input */

.text-input {
    border: none;
    border-radius: 25px;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-left: 5px;
    margin-bottom: 0;
    padding: 0.75rem;
    resize: none;
    overflow-y: auto;
    max-height: 10rem;
    box-sizing: border-box;
}

/* Button: thinking */

.thinking-button {
    background-color: rgba(43, 43, 43);
    padding: 8px;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.thinking-button:hover {
    background-color: rgba(59, 59, 59);
}

/* Button: upload files */

.upload-files {
    margin-right: auto;
    width: 40px;
    height: 40px;
    background-color: rgb(29, 28, 28);
    padding: 8px;
    border-radius: 50%;
    aspect-ratio: 1;
    transition: background-color 0.3s ease;
}

.upload-files:hover {
    background-color: rgb(43, 43, 43);
}

/* Button: internet search */

.enable-internet-searching {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    aspect-ratio: 1;
    transition: background-color 0.3s ease;
}

.enable-internet-searching:hover {
    background-color: rgb(43, 43, 43);
}

/* Button: voice mode */

.voice-mode {
    width: 40px;
    height: 40px;
    background-color: rgba(109, 15, 197, 0.699);
    padding: 8px;
    border-radius: 50%;
    aspect-ratio: 1;
    transition: background-color 0.3s ease;
}

.voice-mode:hover {
    background-color: rgba(151, 48, 248, 0.699);
}